<%- model_class = Update -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:post) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= update.id %></td>
        <td><%= update.title %></td>
        <td><%= update.post %></td>
        <td><%= update.project_id %></td>
        <td><%=l update.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_project_update_path(update.project_id, update.id)%>
          <!--<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_update_path(update), :class => 'btn btn-mini' %> -->
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      update_path(update),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_update_path(params[:project_id]),
            :class => 'btn btn-primary' %>
